{% extends 'collect_words/base.html' %}
    {% block content %}
    {% load static %}
            <div id="main">
                <article>
                    <div id="main_visu">
                        <p><img src="{% static "collect_words/sources/logo/main_visu.png" %}" alt="mainvis"></p>
                    </div>
                    <div id="How to Use">
                        <h1>How to Use</h1>
                        <h2>Follow twitter</h2>
                        <h2>Sign in this app</h2>
                        <h2>collect words from your tweets</h2>
                        <h2>solving quiz!</h2>
                        <a class="btn btn-info" href="{% url 'collect:userhome' userurl %}">Get Start</a>
                    </div>
                </article>
            </div>
    {% endblock %}