<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>TwiWord</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'collect_words/css/style.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    </head>
    <body>
        <header>
                <nav class="navbar navbar-expand navbar-light bg-light">
                        <a class="navbar-brand" href="{% url 'collect:userhome' %}"><img src="{% static "collect_words/sources/logo/1_Primary_logo_on_transparent_295x65.png" %}" alt=""></a>
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item"><a class="nav-link" href="{% url 'collect:userhome' %}">HOME</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'collect:quiz' %}">Quiz</a></li>
                            <li class="nav-item active"><a class="nav-link" href="{% url 'collect:list' %}">Word List</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'collect:index' %}">SignOut</a></li>
                        </ul>
                </nav>           
        </header>
        <div id="wrapper">
            <div id="main" class="my-3">
                    <input class="btn btn-info" type="button" value="Sort">
                <p>↑更新順、アルファベット順ってなったらいいね</p>
                <article id="wordlist">
                        <table align="center">
                                <tr>
                                    <th>英語</th>
                                    <th>日本語</th>
                                    <th>品詞</th>
                                    <th>出題</th>
                                </tr>
                                {% if words %}
                                    {% for word in words %}
                                        <tr>
                                        <td>{{ word.trans }}</td>
                                        <td>{{ word.word }}</td>
                                        <td>{{ word.category }}</td>
                                        {% if word.quiz == True %}
                                            <td><input class="select" type="checkbox" checked></td>
                                        {% else %}
                                            <td><input class="select" type="checkbox" ></td>
                                        {% endif %}
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <p>No words available</p>
                                {% endif %}
                                    <tr>
                                    <td>today</td>
                                    <td>今日</td>
                                    <td>名詞</td>
                                    <td>
                                        <input class="select" type="checkbox" value="addlist">
                                    </td>
                                </tr>
                                <tr>
                                    <td>class</td>
                                    <td>授業</td>
                                    <td>名詞</td>
                                    <td><input class="select" type="checkbox" value="addlist"></td>
                                </tr>
                                <tr>
                                    <td>this</td>
                                    <td>これ</td>
                                    <td>名詞</td>
                                    <td><input class="select" type="checkbox" value="addlist"></td>
                                </tr>
                                <tr>
                                    <td>apple</td>
                                    <td>りんご</td>
                                    <td>名詞</td>
                                    <td><input class="select" type="checkbox" value="addlist"></td>
                                </tr>
                        </table>
                </article>
                <a class="btn btn-info my-3" href="{% url 'collect:userhome' %}">Update</a>
            </div>
        </div>
        <footer class="bd-footer text-muted bg-light">
                <div class="container">
                    <h5>Links</h5>
                    <ul class="bd-footer-links list-unstyled">
                        <li><a href="{% url 'collect:userhome' %}">HOME</a></li>
                        <li><a href="{% url 'collect:quiz' %}">Quiz</a></li>
                        <li><a href="{% url 'collect:list' %}">Word List</a></li>
                        <li><a href="{% url 'collect:index' %}">SignOut</a></li>
                    </ul>
                    <small>&copy; 2019 TwiWord.</small>
                </div>
            </footer>
    </body>
</html_lang>