{% extends 'collect_words/base.html' %}
    {% block content %}
        <div id="main">
            <article>
                <h1>Quiz</h1>
                {% if word %}
                            <h2>{{ word.trans }}</h2>
                {% else %}
                    <p>No words available</p>
                {% endif %}
                <br>
                <input class="btn btn-info" type="button" value="Answer">
                <div id="answer">
                    <h2>{{ word.word }}</h2>
                    <h4>品詞</h4>
                    {% if word.category == 5 %}
                        <p>名詞</p>
                    {% else %}
                        <p>動詞</p>
                    {% endif %}
                    <h4>元のツイート:</h4>
                    <p>{{ word.tweet }}</p>   
                    <div>
                        {% if word.id %}
                            <form method="post" action="{% url 'collect:quiz' userurl%}">
                                {% csrf_token %}
                                <input type="hidden" name="wordId" value={{ word.id }}>
                                <button class='btn btn-info my-3' type="submit" >覚えた</button>
                            </form>
                            <a class='btn btn-info my-3' href="{% url 'collect:quiz' userurl%}">まだ</a> 
                        {% endif %} 
                    </div>               
                </div>
            </article>
        </div>
    {% endblock %}
        