<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>TwiWord</title>
        {% load static %}
        <link rel="stylesheet" href="{% static "collect_words/css/style.css" %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand navbar-light bg-light">
                <a class="navbar-brand" href="{% url 'collect:userhome' %}"><img src="{% static "collect_words/sources/logo/1_Primary_logo_on_transparent_295x65.png" %}" alt=""></a>
                <ul class="navbar-nav mr-auto">
                        <li class="nav-item active"><a class="nav-link" href="{% url 'collect:userhome' %}">HOME</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'collect:quiz' %}">Quiz</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'collect:list' %}">Word List</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'collect:index' %}">SignOut</a></li>
                </ul>
            </nav>            
        </header>
        <div class="container">
                    <div id="col">
                        <div id="main_visu">
                            <p><img src="{% static "collect_words/sources/logo/main_visu.png" %}" alt="mainvis"></p>
                        </div>
                        <p id="col"><strong>You can add new vocaburaries from Twitter!</strong></p>
                        <a class="btn btn-info" href="{% url 'collect:result' %}">Collect from Twitter!</a>
                    </div>
                    <hr>
                    <div>
                            <div class="col-3 float-left my-3 ">
                                <aside>
                                    <img id="profimg" src="{% static "collect_words/sources/a3D2dDGx_bigger.jpg" %}" alt="twitterimg">
                                        <h2>UserName</h2>
                                        <h3>@UserName</h3>
                                </aside>
                            </div>
                            <div class="col-9 float-left my-3">
                                <h3>Contributions</h3>
                                <h3>Now you have 111 words</h3>
                                <h3>Persectage of your achievement</h3>
                                <h3>Contributions</h3>
                                <h3>Now you have 111 words</h3>
                                <h3>Persectage of your achievement</h3>
                                <h3>Contributions</h3>
                                <h3>Now you have 111 words</h3>
                                <h3>Persectage of your achievement</h3>
                            </div>
                        </div>    
        </div>
        
        <footer class="bd-footer text-muted bg-light">
            <div class="container">
                <h5>Links</h5>
                <ul class="bd-footer-links list-unstyled">
                    <li><a href="{% url 'collect:userhome' %}">HOME</a></li>
                    <li><a href="{% url 'collect:quiz' %}">Quiz</a></li>
                    <li><a href="{% url 'collect:list' %}">Word List</a></li>
                    <li><a href="{% url 'collect:index' %}">SignOut</a></li>
                </ul>
                <small>&copy; 2019 TwiWord.</small>
            </div>
        </footer>
    </body>
</html_lang>