<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>TwiWord</title>
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    </head>
    <body>
        <header>
                <nav class="navbar navbar-expand navbar-light bg-light">
                        <a class="navbar-brand" href="userhome.html"><img src="sources/logo/1_Primary_logo_on_transparent_295x65.png" alt=""></a>
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item"><a class="nav-link" href="userhome.html">HOME</a></li>
                            <li class="nav-item"><a class="nav-link" href="quiz.html">Quiz</a></li>
                            <li class="nav-item active"><a class="nav-link" href="list.html">Word List</a></li>
                            <li class="nav-item"><a class="nav-link" href="index.html">Logout</a></li>
                        </ul>
                </nav>           
        </header>
        <div id="wrapper">
            <div id="main" class="my-3">
                    <input class="btn btn-info" type="button" value="Sort">
                <p>↑更新順、アルファベット順ってなったらいいね</p>
                <article>
                        <table>
                                <tr>
                                    <th>英語</th>
                                    <th>日本語</th>
                                    <th>品詞</th>
                                    <th>出題</th>
                                </tr>
                                <tr>
                                    <td>today</td>
                                    <td>今日</td>
                                    <td>名詞</td>
                                    <td>
                                        <input class="select" type="checkbox" value="addlist">
                                    </td>
                                </tr>
                                <tr>
                                    <td>class</td>
                                    <td>授業</td>
                                    <td>名詞</td>
                                    <td><input class="select" type="checkbox" value="addlist"></td>
                                </tr>
                                <tr>
                                    <td>this</td>
                                    <td>これ</td>
                                    <td>名詞</td>
                                    <td><input class="select" type="checkbox" value="addlist"></td>
                                </tr>
                                <tr>
                                    <td>apple</td>
                                    <td>りんご</td>
                                    <td>名詞</td>
                                    <td><input class="select" type="checkbox" value="addlist"></td>
                                </tr>
                        </table>
                </article>
                <a class="btn btn-info my-3" href="list.html">Update</a>
            </div>
        </div>
        <footer class="bd-footer text-muted bg-light">
                <div class="container">
                    <h5>Links</h5>
                    <ul class="bd-footer-links list-unstyled">
                        <li><a href="userhome.html">HOME</a></li>
                        <li><a href="quiz.html">Quiz</a></li>
                        <li><a href="list.html">Word List</a></li>
                        <li><a href="index.html">Logout</a></li>
                    </ul>
                    <small>&copy; 2019 TwiWord.</small>
                </div>
            </footer>
    </body>
</html_lang>