{% extends 'user_auth/base.html' %}
    {% block content %}
    {% load static %}
            <div id="main">
                <article>
                    <div id="main_visu">
                        <p><img class="img-responsive" src="{% static 'collect_words/sources/005KZ1868_TP_V4.jpg' %}" alt="mainvis"></p>
                    </div>
                    <div id="How to Use">
                        <h1>How to Use</h1>
                        <h2>Follow twitter</h2>
                        <h2>Sign in this app</h2>
                        <h2>collect words from your tweets</h2>
                        <h2>solving quiz!</h2>
                        <button class="btn btn-info" type="button" onclick="location.href='{% url 'social:begin' 'twitter' %}'">GetStart</button>
                    </div>
                </article>
            </div>
    {% endblock %}