{% extends 'user_auth/base.html' %}
{% block content %}
{% load static %}
<div>
    <div>
        <p><b>ScreenName</b>:{{ user.access_token.screen_name }}</p>
        <p><b>UserId</b>:{{ user.access_token.user_id }}</p>
        <p><b>OAuthTokenSecret</b>:{{ user.access_token.oauth_token_secret }}</p>
        <p><b>OAuthToken</b>:{{ user.access_token.oauth_token }}</p>
        <p><b>AuthTime</b>:{{ user.extra_data.auth_time }}</p>    
    </div>
    <div>
        <a href="{% url 'user_auth:logout' %}"><button type="button" >ログアウト</button></a>
    </div>
    <div>
        <a href="{% url 'collect:userhome' 1 %}"><button type="button" >ログアウト</button></a>
    </div>
</div>
{% endblock %}